.image{
        background-color: #837960;
        background-image: linear-gradient(
          to bottom, transparent, #837960
        ), url("https://links.papareact.com/gi1");
        background-repeat: no-repeat;
}
.a{
   
        width: 100%;
        height: 100px;
        /* background: red; */
        z-index: 2;
}