.footer {
        height: 100px;
        width: 100px;
        position: relative;
        border: 2px solid black;
}
.child{
        height: 50px;
        border: 2px solid black;
        width: 50px;
        position: relative;
        left: 10px;
        background-color: rgba(253, 242, 241, 0.356);

}
.gChild{
        height: 25px;
        border: 2px solid black;
        width: 25px;
        position: relative;
        left: 10px;
        background-color: rgba(253, 242, 241, 0.356);
        
}